body {
	background-color:thistle;

	}
fieldset.form-horizontal {
	color: gold;
	}
div.form-group {
	color: DarkGoldenRod;
	padding-left: 15%;
	padding-right: 15%;
	font-size: 20px;
	font-family: geneva;
	}

div.checkbox {
	color: purple;
	}
div.radio {
	color: purple;
	}
tr.time {
	color: purple;
	}
legend {
	color:#246D5F;
	font-size:30px;
	font-weight:bold;
	text-align: center;
	}